@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&amp;lang=en');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0px 0.4px 3px black;
    }
    .text-shadow-md {
      text-shadow: 0px 0.6px 5px black;
    }
    .text-shadow-lg {
      text-shadow: 0px 0.8px 7px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}
